.hero-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  position: relative;
}
.hero-img::before {
  content: "";
  /* add img url */
  background: url(../../assets/project_workspace.jpg);
  background-size: cover;
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img h1 {
  font-size: 2.4rem;
}
.hero-img p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.8rem;
}

@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
  .hero-img p {
    font-size: 1.3rem;
    text-align: center;
  }
}
